:root{
  /* game colors */
  --empty: #ffffff;
  --wall: #000000;
  --box: #ff7500;
  --empty-point: #0000ff;
  --player: #ff0000;
  --busy-point: #00bb00;
  /* interface colors */
  --text1: #000000;
  --text2: #ffffff;
  --text3: #555555;
  --background: #ffffff;
  --background2: #dddddd;
  --background3: #444444;
  --background4: #cccccc;
  --border: #9b9ea3;
  /* popup */
  --popup-shadow: #000000;
}
body, table, .enter{
  font-family: "Bookman Old Style";
  font-size: 15px;
}
.cent, .head, .level-name, .stp, .code, .foot{
	text-align: center;
}
.code{
  font-size: 12px;  
}
.foot{
  position: fixed; /* Фиксированное положение */
  left: 34%; /* Расстояние от правого края окна браузера */
  top: 95%; /* Расстояние сверху */
  width: 30%;
  height: 100%;
  padding: 10px; /* Поля вокруг текста */ 
  background: var(--background); /* Цвет фона */ 
  border: 1px solid var(--border); /* Параметры рамки */   
}
canvas{
  border: 10px solid var(--background2);
  border-radius: 10px; /* Радиус скругления */
  /*outline: 2px solid #9b9ea3;*/
}
#navbar { 
margin: 0 auto; /* центрирование обертки! меню */
padding: 0; 
list-style-type: none; 
border: 2px solid var(--border);/* #0066FF; */
/*border-radius: 20px 5px; */
/*width: 368px;*/
width: 370px;
background-color: var(--background2); /* #1b1e23 #33ADFF; */
} 
#navbar li {
 text-align: center;
 display: inline;
} 
#navbar a { 
color: var(--text3); 
padding: 5px 10px; 
text-decoration: none; 
font-weight: bold; 
display: inline-block; 
width: 100px; 
} 
#navbar a:hover { 
/*border-radius: 20px 5px; */
background-color: var(--background);/*#0066FF; */
color: var(--text1);
}
table{
 width: 330px;
 border: 1px solid var(--background2);
 margin: auto;
}
td{
  width: 50px;
  background-color: var(--background4);
  text-align: center;
  font-weight: bold;
  color: var(--text3);
}
.in-text{
  font-weight: bold;
  font-size: 15px;
  background-color: var(--background2); /* #1b1e23 #33ADFF; */
}
.in-numb{
  font-size: 15px;
  background-color: var(--background2); /* #1b1e23 #33ADFF; */
  width:100%;
}
.headtable{
  background-color: var(--background3);
  color: var(--text2);
}
.enter{
  font-size: 15px;
  background-color: var(--background3);
  color: var(--text2);
}
.code1, .code2, .code3, .code4, .code5{
  color: var(--text2);
}
.code0{
  background-color: var(--empty);
  color: var(--text1);
}
.code1{
  background-color: var(--wall);
}
.code2{
  background-color: var(--box);
}
.code3{
  background-color: var(--empty-point);
}
.code4{
  background-color: var(--player);
}
.code5{
  background-color: var(--busy-point);
}
.popup{
    text-align:center;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
}
.popup .popup-content{
    margin:120px auto 0px auto;
    width:150px;
    height: 70px;
    padding: 10px;    
    background-color: rgba(255,255,255,0.9);
    border-radius:5px;
    box-shadow: 0px 0px 10px var(--popup-shadow);
}